{%extends "pizzas/base.html" %}

{% block content %}
    
    <p>Pizza Choices</p>

    <!--In standard HtML, a bulleted list is called an unordered list
        and is indicated by the tags <ul></ul>-->
    <ul>
        <!--for loop to loop through each topic
         NOTE: not like pthon, needs an endfor-->
        {% for pizza in pizza_choices %}

        <!--to print a variable in atemplate, wrap the
            variable name in double braces.-->
            <li>{{ pizza }}</li>
        {% empty %}
            <li>No Pizzas have been added yet.</li>
        {% endfor %}
    </ul>

    {% endblock content %}