{% extends "pizzas/base.html" %}


{% block content %}

    <h3 style = "font-family:georgia,garamond,serif;font-size:23px;font-style:bold;">Pizza Choice: {{ pizza_choice }}</h3>
    <ul>

        {% for topping in toppings %}
        <li>

            <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">
                {{ topping.name|linebreaks }}</p>

        </li>
        {% empty %}
            <li style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">
                There are no toppings for your pizza choice yet.</li>
        {% endfor %}

    </ul>

    <h3 style = "font-family:georgia,garamond,serif;font-size:23px;font-style:bold;">Reviews for this Pizza:</h3>

    <ul>

        {% for review in reviews %}
        <li>
            <!--a vertical line | represents a template filter
                A function that modifies the value in a template variable-->
            <p style="font-family:georgia,garamond,serif;font-size:16px;font-style:bold">
                {{ review.date_added|date:'M d, Y H:i' }} </p>
            <!-- the filter linebreaks ensures that long text entries include line breaks-->
            <p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic">{{ review.review|linebreaks }} </p>
        </li>
        {% empty %} <!-- if the list is empty then display message-->
            <li> There are no reviews for this pizza yet.</li>
        {% endfor %}
    </ul>

    <p style="font-family:georgia,garamond,serif;font-size:16px;font-style:italic">
        <a href="{% url 'pizzas:new_review' pizza_choice.id %}">Add new review</a>
    </p>
    {% endblock content %}

    
