{%extends "pizzas/base.html" %}

{% block content %}
    
    <p>Pizzas</p>

    <!--In standard HtML, a bulleted list is called an unordered list
        and is indicated by the tags <ul></ul>-->
    <ul>
        <!--for loop to loop through each topic
         NOTE: not like pthon, needs an endfor-->
        {% for pizza in pizzas %}

        <!--to print a variable in atemplate, wrap the
            variable name in double braces.-->
            <li>
                <a href="{% url 'pizzas:pizzas' pizza.id %}">{{ pizza }}</a>
            </li> <!-- li - list item-->
        {% empty %} <!-- if the list is empty then display message-->
            <li>No Pizzas have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'pizzas:new_pizza' %}">Add a new Pizza</a>

{% endblock content %}